<p-splitter [panelSizes]="[75, 25]" [style]="{ border: 'none' }" styleClass="border-none p-0">
  <ng-template #panel>
    <p-data-view
      #dv
      [value]="venues"
      [layout]="layout"
      [rows]="6"
      [paginator]="true"
      [rowsPerPageOptions]="[6, 12, 24]"
    >
      <ng-template #header>
        <div class="flex flex-wrap justify-between items-center gap-3">
          <!-- Layout Toggle -->
          <div>
            <p-select-button [(ngModel)]="layout" [options]="layoutOptions" [allowEmpty]="false">
              <ng-template #item let-option>
                <i [class]="option === 'list' ? 'pi pi-bars' : 'pi pi-table'"></i>
              </ng-template>
            </p-select-button>
          </div>
          <div class="flex gap-2">
            <p-button
              icon="pi pi-plus"
              label="Add Venue"
              styleClass="p-button-success"
              (click)="openNewVenue()"
            ></p-button>
          </div>
        </div>
        <p-dialog
          header="{{ isEditMode ? 'Edit Venue' : 'New Venue' }}"
          [(visible)]="showDialog"
          [style]="{ width: '400px' }"
          [modal]="true"
          [closable]="true"
        >
          <form [formGroup]="newVenueForm" (ngSubmit)="handleCreateVenue()">
            <div class="field">
              <label for="name">Name</label>
              <input pInputText id="name" formControlName="name" />
            </div>
            <div class="field">
              <label for="totalCapacity">Total Capacity</label>
              <p-inputnumber id="totalCapacity" formControlName="totalCapacity" type="number" />
            </div>
            <div class="field">
              <label for="address">Address</label>
              <input pInputText id="address" formControlName="address" />
            </div>
            <div class="field">
              <label for="active">Active</label>
              <p-toggle-switch id="active" formControlName="active" />
            </div>
            <div class="flex flex-row justify-end gap-2">
              <p-button label="Cancel" (click)="showDialog = false"></p-button>
              <p-button
                label="{{ isEditMode ? 'Update' : 'Create' }}"
                type="submit"
                [disabled]="newVenueForm.invalid"
              ></p-button>
            </div>
          </form>
        </p-dialog>
        <p-confirmdialog />
      </ng-template>

      <!-- LIST LAYOUT -->
      <ng-template #list let-items>
        @if (isLoading) {
        <div class="flex flex-col">
          <div *ngFor="let i of [1, 2, 3, 4]">
            <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-3">
              <p-skeleton class="!w-40 !h-24" />
              <div
                class="flex flex-col sm:flex-row justify-between items-start sm:items-center flex-1 gap-6"
              >
                <div class="flex flex-col gap-2 w-full sm:w-auto">
                  <p-skeleton width="10rem" height="1.5rem" />
                  <p-skeleton width="15rem" height="1rem" />
                  <p-skeleton width="5rem" height="2rem" />
                </div>
                <div class="flex flex-row gap-2 min-w-[180px] justify-end mt-4 sm:mt-0">
                  <p-skeleton width="8rem" height="2.5rem" />
                  <p-skeleton width="2.5rem" height="2.5rem" />
                </div>
              </div>
            </div>
          </div>
        </div>
        } @else {
        <div class="grid grid-cols-1 gap-4 grid-nogutter">
          <div *ngFor="let item of items">
            <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4">
              <!-- Image -->
              <div class="md:w-32 relative">
                <img
                  class="block mx-auto rounded-border w-full h-24 object-cover"
                  [src]="
                    'https://images.ctfassets.net/v7wr16nrr0mz/4aa4cvN73SlIqRPdbl0BDX/1e3c63b3f241093948fc4c888af21d38/populous_venue_productization_header-bowl.jpg'
                  "
                  [alt]="item.name"
                />
                <p-tag
                  [value]="item.active ? 'Active' : 'Inactive'"
                  [severity]="item.active ? 'success' : 'danger'"
                  class="absolute dark:!bg-surface-900"
                  [style.right.px]="4"
                  [style.top.px]="4"
                >
                </p-tag>
              </div>
              <div
                class="flex flex-col sm:flex-row justify-between items-start sm:items-center flex-1 gap-6"
              >
                <div class="flex flex-col gap-2">
                  <div>
                    <span class="font-medium text-secondary text-sm">{{ item.address }}</span>
                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">
                      {{ item.name }}
                    </div>
                  </div>
                  <div class="bg-surface-100 dark:bg-surface-700 p-1 rounded-3xl self-start">
                    <div
                      class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 py-1 px-2 rounded-3xl"
                    >
                      <i class="pi pi-users"></i>
                      <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">
                        {{ item.totalCapacity }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row gap-2 min-w-[180px] justify-end mt-4 sm:mt-0">
                  <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-warning"
                    (click)="editVenue(item)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-danger"
                    (click)="confirmDelete(item)"
                  ></p-button>
                  <p-toggle-button
                    [(ngModel)]="item.active"
                    onLabel="Active"
                    offLabel="Inactive"
                    onIcon="pi pi-lock"
                    offIcon="pi pi-lock-open"
                    class="w-36"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </ng-template>

      <!-- GRID LAYOUT -->
      <ng-template #grid let-items>
        @if (isLoading) {
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 m-4">
          <div *ngFor="let i of [1, 2, 3, 4]" class="p-2">
            <div
              class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded h-full flex flex-col"
            >
              <div class="mb-4 flex-grow">
                <div class="flex flex-wrap items-center justify-between gap-2 mb-4">
                  <p-skeleton width="8rem" height="1.5rem" />
                  <p-skeleton width="4rem" height="1.5rem" />
                </div>
                <div class="flex flex-col gap-4 py-4">
                  <p-skeleton class="!w-full !h-40" />
                  <p-skeleton width="15rem" height="1rem" />
                  <p-skeleton width="5rem" height="2rem" />
                </div>
              </div>
              <div class="flex gap-2 mt-auto pt-4">
                <p-skeleton width="100%" height="2.5rem" />
                <p-skeleton width="2.5rem" height="2.5rem" />
              </div>
            </div>
          </div>
        </div>
        } @else {
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 m-4">
          <div *ngFor="let item of items" class="p-2">
            <div
              class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded h-full flex flex-col"
            >
              <div class="mb-4 flex-grow">
                <div class="flex flex-wrap items-center justify-between gap-2 mb-4">
                  <div class="text-lg font-medium text-surface-900 dark:text-surface-0">
                    {{ item.name }}
                  </div>
                  <p-tag
                    [value]="item.active ? 'Active' : 'Inactive'"
                    [severity]="item.active ? 'success' : 'danger'"
                  ></p-tag>
                </div>
                <div class="flex flex-col gap-4 py-4">
                  <div class="w-full relative">
                    <img
                      class="rounded-border w-full h-40 object-cover"
                      [src]="
                        'https://images.ctfassets.net/v7wr16nrr0mz/4aa4cvN73SlIqRPdbl0BDX/1e3c63b3f241093948fc4c888af21d38/populous_venue_productization_header-bowl.jpg'
                      "
                      [alt]="item.name"
                    />
                    <p-tag
                      [value]="item.active ? 'Active' : 'Inactive'"
                      [severity]="item.active ? 'success' : 'danger'"
                      class="absolute dark:!bg-surface-900"
                      [style.right.px]="4"
                      [style.top.px]="4"
                    >
                    </p-tag>
                  </div>
                  <span class="text-secondary text-sm w-full text-left">{{ item.address }}</span>
                  <div class="bg-surface-100 dark:bg-surface-700 p-1 rounded-3xl self-start">
                    <div
                      class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 py-1 px-3 rounded-3xl"
                    >
                      <i class="pi pi-users"></i>
                      <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">
                        {{ item.totalCapacity }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex gap-2 mt-auto pt-4">
                <div class="flex gap-2 flex-1">
                  <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-warning p-button-sm"
                    (click)="editVenue(item)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-danger p-button-sm"
                    (click)="confirmDelete(item)"
                  ></p-button>
                </div>
                <div class="flex gap-2">
                  <p-toggle-button
                    [(ngModel)]="item.active"
                    onLabel="Active"
                    offLabel="Inactive"
                    onIcon="pi pi-lock"
                    offIcon="pi pi-lock-open"
                    class="w-36"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </ng-template>
    </p-data-view>
  </ng-template>

  <ng-template #panel>
    <div class="p-4 flex flex-col gap-4 w-full">
      <p-button label="Apply Filters" icon="pi pi-filter" class="mt-2 w-full"></p-button>
    </div>
  </ng-template>
</p-splitter>
